<template>
  <div class="newUserMangement">
    <div class="newUserForm">
      <div class="container-fuild">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="block">
              <!-- 使用者名稱 -->
              <div class="group">
                <label class="lblTitle">使用者名稱</label>
                <input class="inpUserName" :class="{error: validation.hasError('userInfoForm.userName')}" type="text" placeholder="請輸入使用者名稱" v-model="userInfoForm.userName">
                <p class="userNameMsg" v-if="validation.firstError('userInfoForm.userName')">{{ validation.firstError('userInfoForm.userName') }}</p>
              </div>

              <!-- 平台角色 -->
              <div class="group">
                <label class="lblTitle">平台角色</label>
                <select class="seleRoles" :class="{error: validation.hasError('userInfoForm.roles')}" v-model="userInfoForm.roles" >
                  <option :value="``">請選擇</option>
                  <option :value="`supper`">超級帳號</option>
                  <option :value="`middle`">中級帳號</option>
                  <option :value="`general`">普通帳號</option>
                </select>
                <p class="rolesMsg">{{ validation.firstError('userInfoForm.roles') }}</p>
              </div>

              <!-- 帳號 -->
              <div class="group">
                <label class="lblTitle">帳號</label>
                <input class="inpAccount" :class="{error: validation.hasError('userFormInfo.account')}" type="text" placeholder="請輸入帳號" v-model="userInfoForm.account" >
                <p class="accountMsg">{{ validation.firstError('userInfoForm.account') }}</p>
              </div>
                
              <!-- 密碼 -->
              <div class="group">
                <label class="lblTitle">密碼</label>
                <input class="inpPassword" :class="{error: validation.hasError('userInfoForm.password')}" type="password" placeholder="請輸入密碼" v-model="userInfoForm.password">
                <p class="passwordMsg">{{ validation.firstError('userInfoForm.password') }}</p>
              </div>
                
              <!-- 信箱 -->
              <div class="group">
                <label class="lblTitle">信箱</label>
                <input class="inpEmail" :class="{error: validation.hasError('userInfoForm.email')}" type="text" placeholder="請輸入信箱" v-model="userInfoForm.email">
                <p class="emailMsg">{{ validation.firstError('userInfoForm.email') }}</p>
              </div>

              <!-- 手機 -->
              <div class="group">
                <label class="lblTitle">手機</label>
                <input class="inpPhone" :class="{error: validation.hasError('userInfoForm.phone')}" type="text" placeholder="請輸入手機" v-model="userInfoForm.phone">
                <p class="phoneMsg">{{ validation.firstError('userInfoForm.phone') }}</p>
              </div>

              <!-- 帳號狀態 -->
              <div class="group">
                <label class="lblTitle">帳號狀態</label>
                <label class="spTitle">
                  <input class="inpStatus" name="status" type="radio" :value="1" v-model="userInfoForm.status">
                  正常
                </label>
                <label class="spTitle">
                  <input class="inpStatus" name="status" type="radio" :value="0" v-model="userInfoForm.status">
                  停用
                </label>
                <p class="statusMsg">{{ validation.firstError('userInfoForm.status') }}</p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <!-- <el-tree
              :data="data"
              :show-checkbox="true"
              :node-key="`path`"
            >
            </el-tree> -->
          </div>
        </div>
      </div>
    </div>

    <!-- 操作 -->
    <div class="action">
      <div class="container-fuild">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="block">
              <button class="btnSave" @click="createUserInfo()">儲存</button>
              <button class="btnClose" @click="back()">取消</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Validator } from 'simple-vue-validator';
  import { InsertUserInfo } from '@/api/userInfo';
  import { mapGetters } from 'vuex';

  export default {
    name: 'newUserMangment',
    data() {
      return {
        userInfoForm: {
          userName: '',
          roles: '',
          account: '',
          password: '',
          email: '',
          phone: '',
          status: 1,
          nowUser: ''
        }
      }
    },
    validators: {
      'userInfoForm.userName': function (value) {
          return Validator.value(value)
                          .required('未輸入使用者名稱')
                          .lengthBetween(3, 6, '使用者長度大小為 3 個字以上，6 個字以下');
      },
      'userInfoForm.roles': function(value) {
          return Validator.value(value)
                          .required('未輸入平台角色');
      },
      'userInfoForm.account': function (value) {
          return Validator.value(value)
                          .required('未輸入帳號')
                          .lengthBetween(8, 50, '帳號大小至少 8 個字以上 50 個字以下')
                          .regex('^[A-Za-z0-9]*$', '僅允許大小寫英文及數字');
      },
      'userInfoForm.password': function(value) {
          return Validator.value(value)
                          .required('未輸入密碼')
                          .lengthBetween(8, 50, '密碼大小至少 8 個字以上 50 個字以下')
                          .regex('^[A-Za-z0-9]*$', '僅允許大小寫英文及數字');
      },
      'userInfoForm.email': function(value) {
          return Validator.value(value)
                          .required('未輸入信箱')
                          .email('信箱格式不符')
                          .lengthBetween(1, 50, '信箱長度過長');
      },
      'userInfoForm.phone': function(value) {
          return Validator.value(value)
                          .required('未輸入手機')
                          .digit('格式不符')
                          .length(10, '手機號碼必為 10 碼');
      },
      'userInfoForm.status': function(value) {
          return Validator.value(value)
                          .required('未選擇帳號狀態')
                          .regex('^[0-1]{1}$', '格式錯誤')
      }
    },
    methods: {
      createUserInfo() {
        this.$validate().then((success) => {
          if (success)
          {
            this.userInfoForm.nowUser = this.userName;

            InsertUserInfo(this.userInfoForm).then((res) => {
              setTimeout(() => {
                if (res.status === 201)
                {
                  if (res.data.isSuccess === true)
                  {
                    alert(res.data.message);
                    this.$router.push({path: '/userMangement/index'});
                  }
                  else
                  {
                    alert(res.data.message);
                  }
                }
              }, 1000);
            }).catch((error) => {
              setTimeout(() => {
                if (error.status === 400 || error.status === 403)
                {
                  alert(error.data.message);
                }
              }, 1000);
            });
          }
          else
          {
            console.log('submit error');
          }
        });
      },
      back() {
        this.$router.push({path: '/userMangement/index'});
      }
    },
    computed: {
      ...mapGetters([
        'userName'
      ])
    }
  }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .newUserMangement
      .newUserForm
        .container-fuild
          margin: 20px 30px
          background-color: $color_white
          border-top: 5px solid darken($color_gray, 10)

          .row
            .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
              padding: 15px

              .block
                padding: 15px

                .group
                  margin-bottom: 20px
                          
                  label.lblTitle
                    margin-bottom: 10px
                    display: block

                  input.inpUserName, select.seleRoles,
                  input.inpAccount,  input.inpPassword,
                  input.inpEmail,    input.inpPhone
                    padding: 10px
                    border: 1.5px solid darken($color_gray, 10)
                    border-radius: 2.5px
                    outline: none
                    width: 100%
                    transition: 0.5s

                    &:focus
                      border: 1px solid $color_blue

                  .spTitle
                    margin-right: 10px

                    input.inpStatus
                      -webkit-appearance: none
                      -moz-appearance: none
                      appearance: none
                      outline: none
                      border: 5px solid darken($color_gray, 10)
                      border-radius: 50px
                      width: 18px
                      height: 18px
                      vertical-align: middle
                      position: relative
                      margin-right: 5px

                      &:before
                        content: ""
                        background-color: transparent
                        border-radius: 50%
                        width: 8px
                        height: 8px
                        display: black
                        position: absolute
                        left: 50%
                        top: 50%
                        transform: translate(-50%, -50%)

                      &:checked:before
                        background-color: $color_blue

                      &:checked
                        border: 3px solid $color_blue

                  input.inpUserName.error, select.seleRoles.error,
                  input.inpAccount.error,  input.inpPassword.error,
                  input.inpEmail.error,    input.inpPhone.error
                    border: 1px solid $color_red

                  p.userNameMsg, p.rolesMsg,
                  p.accountMsg,  p.passwordMsg,
                  p.emailMsg,    p.phoneMsg,
                  p.statusMsg
                    margin-top: 10px
                    color: $color_red

      .action
        .container-fuild
          margin: 20px 30px

          .row
            .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
              .block
                button
                  margin-right: 20px
                  border: none
                  outline: none
                  padding: 10px 30px
                  border-radius: 2.5px
                  transition: 0.5s

                .btnSave
                  background-color: $color_blue
                  color: $color_white
                  transition: 0.5s

                  &:hover
                    box-shadow: 0px 0px 15px darken($color_gray, 5)
                    background-color: lighten($color_blue, 5)

                .btnClose
                  background-color: darken($color_gray, 10)

                  &:hover
                    box-shadow: 0px 0px 15px darken($color_gray, 5)
</style>