<template>
    <div class="attendance">
        <component :is="currentComponent"></component>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import supperAttecdanceRegistraction from './supper/index.vue';
    import middleattecdanceRegistraction from './supper/index.vue';

    export default {
        name: 'attendance',
        components: {
            supperAttecdanceRegistraction,
            middleattecdanceRegistraction
        },
        data() {
            return {
                currentComponent: 'supperAttecdanceRegistraction'
            }
        },
        mounted() {
            this.convertsInterface();  
        },
        methods: {
            convertsInterface() {
                if (!this.roles.includes('supper'))
                {
                    this.currentComponent = 'middleattecdanceRegistraction'
                }
            }
        },
        computed: {
            ...mapGetters([
                'roles'
            ])
        }
    }
</script>

<style lang="sass" scoped>

</style>