<template>
    <div class="sidebar_container" :class="isCollapse">
        <Logo></Logo>

        <div class="scrollbar">
            <div class="scrollbar_wapper">
                <el-menu
                    class="el-menu-vertical-demo"
                    :default-active="activeMenu"
                    :background-color="`#26547C`"
                    :text-color="`#ffffff`"
                    :active-text-color="`#f2d9bb`">

                    <SidebarItem v-for="route in permission_routes" :key="route.path" :item="route" :basePath="route.path"></SidebarItem>
                </el-menu>
            </div>
        </div>
    </div>
</template>

<script>
    import Logo from './Logo.vue';
    import SidebarItem from './SidebarItem.vue';
    import { mapGetters } from 'vuex';

    export default {
        name: 'Sidebar',
        components: {
            Logo,
            SidebarItem
        },
        computed: {
            ...mapGetters([
                'sidebar',
                'device',
                'permission_routes'
            ]),
            isCollapse() {
                return {
                    openSidebar: this.sidebar.opened,
                    hideSidebar: !this.sidebar.opened,
                    mobile: this.device === 'mobile'
                }
            },
            activeMenu() {
                let route = this.$route;
                let { meta, path } = route;
                
                if (meta.activeMenu)
                {
                    return meta.activeMenu;
                }

                return path;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'
    @import '@/styles/minix.sass'

    .el-menu
        border: none

    .sidebar_container.openSidebar
        left: 0px

    .sidebar_container.hideSidebar
        left: -$size

    .sidebar_container
        width: $size
        background-color: $color_blue
        height: 100%
        position: fixed
        font-size: 0px
        top: 0px
        bottom: 0px
        left: 0px
        z-index: 300
        overflow: hidden
        transition: left 0.5s

        .scrollbar
            overflow: hidden
            position: relative
            height: calc(100%  - 50px)

            .scrollbar_wapper
                overflow-y: scroll
                height: 100%

            .scrollbar_wapper::-webkit-scrollbar
                background-color: darken($color_blue, 15)
                width: 5px
                
            .scrollbar_wapper::-webkit-scrollbar-track
                background-color: $color_blue

            .scrollbar_wapper::-webkit-scrollbar-thumb
                background-color: lighten($color_blue, 25)
                border-radius: 1px
</style>