<template>
    <span v-text="title"></span>
</template>

<script>
    export default {
        name: 'Item',
        props: {
            title: {
                type: String,
                default: ''
            }
        }
    }
</script>

<style lang="sass" scoped>

</style>