<template>
    <div v-if="!item.hidden">
        <template v-if="hasOneShowingChild(item.children, item) && (!onlyOneChild.children || onlyOneChild.noShowingChildren)">
            <AppLink v-if="onlyOneChild.meta" :to="resolvePath(onlyOneChild.path)">
                <el-menu-item :class="{'submenu-title-noDropdown': !isNest}" :index="resolvePath(onlyOneChild.path)">
                    <Item :title="onlyOneChild.meta.title"></Item>
                </el-menu-item>
            </AppLink>
        </template>
        
        <el-submenu v-else :index="resolvePath(item.path)" popper-append-to-body>
            <template slot="title">
                <span v-if="item.meta" v-text="item.meta.title"></span>
            </template>

            <SidebarItem
                v-for="child in item.children"
                :key="child.path"
                :item="child"
                :isNest="true"
                :basePath="resolvePath(child.path)"
                class="nestMenu"
            >
            </SidebarItem>
        </el-submenu>
    </div>
</template>

<script>
    import AppLink from './Link.vue';
    import Item from './Item.vue';
    import path from 'path';
    import { isExternal } from '@/utils/validate.js';

    export default {
        name: 'SidebarItem',
        components: {
            AppLink,
            Item
        },
        props: {
            item: {
                type: Object,
                require: true
            },
            basePath: {
                type: String,
                default: ''
            },
            isNest: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                onlyOneChild: null,
                count: 0
            }
        },
        methods: {
            hasOneShowingChild(children = [], parent) {
                const showingChildren = children.filter(item => {
                    if (item.hidden)
                    {
                        return false;
                    }
                    else
                    {
                        this.onlyOneChild = item;
                        return true;
                    }
                });

                if (showingChildren.length === 1)
                {
                    return true;
                }

                if (showingChildren.length === 0)
                {
                    this.onlyOneChild = { ...parent, path: '', noShowingChildren: true };
                    return true;
                }
                
                return false;
            },
            resolvePath(routePath) {
                if (isExternal(routePath))
                {
                    return routePath;
                }

                if (isExternal(this.basePath))
                {
                    return this.basePath;
                }

                return path.resolve(this.basePath, routePath);
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'
    @import '@/styles/minix.sass'
    
    span
        font-size: 16px

    .el-submenu__title
        i
            color: #00bfff !important

    .el-menu-item.is-active.submenu-title-noDropdown
        &:hover
            background-color: $color_blue

    .nest-menu
        a
            padding: 15px 15px 15px 20px
</style>