<template>
    <div class="mdSystemPost">
        <div class="systemPostForm">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <!-- 公告標題 -->
                            <div class="group">
                                <label class="lblTitle">公告標題</label>
                                <input class="inpTitle" :class="{error: validation.hasError('systemPostForm.postTitle')}" type="text" placeholder="請輸入公告標題" v-model="systemPostForm.postTitle">
                                <p class="postTitleMsg">{{ validation.firstError('systemPostForm.postTitle') }}</p>
                            </div>

                            <!-- 公告訊息 -->
                            <div class="group">
                                <label class="lblTitle">公告訊息</label>
                                <textarea class="txtareaMessage" :class="{error: validation.hasError('systemPostForm.postMessage')}" cols="30" rows="10" placeholder="請輸入公告訊息" v-model="systemPostForm.postMessage"></textarea>
                                <p class="postMessage">{{ validation.firstError('systemPostForm.postMessage') }}</p>
                            </div>

                            <!-- 發佈狀態 -->
                            <div class="group">
                                <label class="lblTitle">發佈狀態</label>
                                <label class="spTitle">
                                    <input class="inpPublish" type="radio" name="publish" :value="`1`" v-model="systemPostForm.publish">
                                    發佈
                                </label>
                                <label class="spTitle">
                                    <input class="inpPublish" type="radio" name="publish" :value="`0`" v-model="systemPostForm.publish">
                                    草稿
                                </label>
                                <p>{{ validation.firstError('systemPostForm.publish') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 操作 -->
        <div class="action">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <button class="btnSave" @click="updateSystemPost()">儲存</button>
                            <button class="btnClose" @click="back()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import { Validator } from 'simple-vue-validator';
    import { GetOnlySystemPost, UpdateSystemPost } from '@/api/systemPost.js';

    export default {
        name: 'mdSystemPost',
        data() {
            return {
                systemPostForm: {
                    systemPostId: '',
                    postTitle: '',
                    postMessage: '',
                    publish: '',
                    mUser: ''
                }
            }
        },
        mounted() {
            const systemPostId = this.$route.params.systemPostId;
            this.getOnlySystemPost(systemPostId);
        },
        validators: {
            'systemPostForm.postTitle': function(value) {
                return Validator.value(value)
                                .required('未輸入標題')
                                .lengthBetween(1, 50, '公告標題於 1 到 50 之間');
            },
            'systemPostForm.postMessage': function(value) {
                return Validator.value(value)
                                .lengthBetween(1, 200, '公告訊息於 1 到 200 之間')
            },
            'systemPostForm.publish': function(value) {
                return Validator.value(value)
                                .required('未選擇發佈狀態')
                                .regex('[0-1]{1}$', '格式錯誤')
            }
        },
        methods: {
            getOnlySystemPost(systemPostId) {
                GetOnlySystemPost(systemPostId).then((res) => {
                    if (res.status === 200)
                    {
                        if (res.data.isSuccess === true)
                        {
                            this.systemPostForm = Object.assign(res.data.data, {});
                        }
                    }
                }).catch((error) => {
                    setTimeout(() => {
                        if (error.status === 400 || error.status === 403)
                        {
                            alert(error.data.message);
                            this.$router.push({path: '/systemPost/index'});
                        }
                    }, 1000);
                });
            },
            updateSystemPost() {
                this.$validate().then((success) => {
                    if (success)
                    {
                        this.systemPostForm.mUser = this.userName;

                        UpdateSystemPost(this.systemPostForm).then((res) => {
                            setTimeout(() => {
                                if (res.status === 200)
                                {
                                    if (res.data.isSuccess === true)
                                    {
                                        alert(res.data.message);
                                        this.$router.push({path: '/systemPost/index'});
                                    }
                                }
                            }, 1000);
                        }).catch((error) => {
                            if (error.status === 400 || error.status === 403)
                            {
                                alert(error.data.message)
                            }
                        });
                    }
                    else
                    {
                        console.log('submit error')
                    }
                });
            },
            back() {
                this.$router.push({path: '/systemPost/index'});
            }
        },
        computed: {
            ...mapGetters([
                'userName'
            ])
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .mdSystemPost
        .systemPostForm
            .container-fuild
                margin: 20px 30px
                background-color: $color_white
                border-top: 5px solid darken($color_gray, 10)

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        .block
                            padding: 30px

                            .group
                                margin-bottom: 20px

                                label.lblTitle
                                    margin-bottom: 5px
                                    display: block

                                input.inpTitle, textarea.txtareaMessage
                                    padding: 10px
                                    border: 1.5px solid darken($color_gray, 10)
                                    border-radius: 2.5px
                                    outline: none
                                    width: 100%
                                    transition: 0.5s

                                    &:focus
                                        border: 1px solid $color_blue

                                label.spTitle
                                    margin-right: 10px

                                input.inpPublish
                                    -webkit-appearance: none
                                    -moz-appearance: none
                                    appearance: none
                                    outline: none
                                    border: 5px solid darken($color_gray, 10)
                                    border-radius: 50px
                                    width: 18px
                                    height: 18px
                                    vertical-align: middle
                                    position: relative
                                    margin-right: 5px

                                    &:before
                                        content: ""
                                        background-color: transparent
                                        border-radius: 50%
                                        width: 8px
                                        height: 8px
                                        display: black
                                        position: absolute
                                        left: 50%
                                        top: 50%
                                        transform: translate(-50%, -50%)

                                    &:checked:before
                                        background-color: $color_blue

                                    &:checked
                                        border: 3px solid $color_blue

                                input.inpTitle.error, select.txtPostMessage.error
                                    border: 1px solid $color_red

                                p.postTitleMsg, p.publishMsg, p.postMessage
                                    margin-top: 10px
                                    color: $color_red

        .action
            .container-fuild
                margin: 20px 30px

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                        button
                            margin-right: 20px
                            border: none
                            outline: none
                            padding: 10px 30px
                            border-radius: 2.5px

                        .btnSave
                            background-color: $color_blue
                            color: $color_white
                            transition: 0.5s

                            &:hover
                                box-shadow: 0px 0px 15px darken($color_gray, 5)
                                background-color: lighten($color_blue, 5)

                        .btnClose
                            background-color: darken($color_gray, 10)
                            transition: 0.5s

                            &:hover
                                box-shadow: 0px 0px 15px darken($color_gray, 5)
</style>