$size: 314px

@mixin abCenter()
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

@mixin size($w, $h: $w)
    width: $w
    height: $h

@mixin flexCenter()
    display: flex
    justify-content: center
    align-content: center