<template>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="group_foolter">
                        <h4 class="fool_title">聯絡資訊</h4>
                        
                        <div class="linkGroup" v-for="(item, index) in targetList" :key="index">
                            <a :title="item.title" :href="item.link" :target="`_blank`">
                                <font-awesome-icon :icon="[item.iconType, item.iconName]"></font-awesome-icon>
                            </a>
                        </div>

                        <p class="copyright" v-text="`Copyright © ${year} Zcbw. All rights reserved.`"></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: 'foolter',
        data() {
            return {
                year: new Date().getFullYear(),
                targetList: [
                    {
                        link: 'https://www.facebook.com/FaYiChongDeZhengChengFuYuan/',
                        iconType: 'fab',
                        iconName: 'facebook-f',
                        title: 'facebook'
                    },
                    {
                        link: 'javascript:void()',
                        iconType: 'fab',
                        iconName: 'instagram',
                        title: 'instagram'
                    },
                    {
                        link: 'javascript:void()',
                        iconType: 'fab',
                        iconName: 'line',
                        title: 'line'
                    },
                    {
                        link: 'https://www.youtube.com/channel/UCWWWVY4Xt-oLi7U8zHetF5g/featured',
                        iconType: 'fab',
                        iconName: 'youtube',
                        title: 'youtube'
                    }
                ]
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .footer
        background-color: $color_black

        .container
            padding: 15px

            .row
                .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                    .group_foolter
                        text-align: center

                        h4.fool_title
                            color: $color_white
                            margin: 10px
                        
                        .linkGroup
                            display: inline-block

                            a
                                color: transparent

                                svg
                                    border-radius: 50%
                                    width: 35px
                                    height: 35px
                                    padding: 8px
                                    margin: 10px
                                    color: $color_white
                                    border: 2px solid $color_white
                                    transform: rotate(0deg)
                                    transition: 0.5s

                                    &:hover
                                        padding: 5px
                                        color: $color_white
                                        transform: rotate(360deg)

                        p.copyright
                            color: $color_white
                            
</style>