<template>
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="statusCode col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>404</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    #error
        position: fixed
        left: 0px
        top: 0px
        width: 100%
        height: 100%
        background-color: $color_gray
        border:
            top: 20px solid $color_blue
            bottom: 20px solid $color_blue
        
        .statusCode
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            
            h1
                text-align: center
                text-shadow: 0px 0px 15px darken($color_gray, 15)
                font-size: 150px
                color: $color_blue
</style>