<template>
    <div class="dialogbox" :class="[visible === true? 'show': 'hidden']" @click.self="close()">
        <div class="box">
            <div class="header">
                <h4 class="title" v-text="titleName"></h4>
                <font-awesome-icon class="icon" :icon="['fas', 'times']" @click="close()"></font-awesome-icon>
            </div>
            <hr>

            <div class="content">
                <slot name="content"></slot>
            </div>
            <hr>

            <div class="foolter">
                <slot name="foolter"></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'classRoomDialogbox',
        props: {
            titleName: {
                type: String,
                default: 'test'
            },
            visible: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                action: 0,
                isVisible: this.visible
            }
        },
        updated() {
            this.isVisible = this.visible;
        },
        methods: {
            close() {
                this.$emit('update:visible', false);
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .dialogbox.show
        display: block

    .dialogbox.hidden
        display: none

    .dialogbox
        position: fixed
        background-color: rgba($color_black, 0.3)
        width: 100%
        height: 100%
        top: 0px
        left: 0px
        z-index: 500
        
        .box
            position: relative
            width: 512px
            max-width: 100%
            margin-top: 100px
            margin-left: auto
            margin-right: auto
            background-color: $color_white
            border-radius: 10px
            box-sizing: 0px 0px 20px $color_black
            padding: 10px
            transform: translateY(-0px)
            animation: action 0.5s linear 1
            
            .header
                background-color: $color_white
                padding: 20px 20px 10px
                display: flex
                justify-content: space-between
                align-items: center
                font-size: 20px

                h4.title
                    font-weight: 900

                svg.icon
                    cursor: pointer
                    
            .content
                padding: 30px 20px
                overflow-y: scroll
                height: 250px
                
            .foolter
                text-align: right
                padding: 10px 20px 20px

                .buttons
                    button
                        margin: 0px 10px
                    
                    button.btnSave, button.btnClose
                        color: $color_white
                        border: none
                        height: 36px
                        border-radius: 2.5px
                        min-width: 64px
                        padding: 0px 16px

                    button.btnSave
                        background-color: $color_blue

                    button.btnClose
                        background-color: darken($color_gray, 25)

    @keyframes action
        0%
            transform: translateY(-50px)
        50%
            transform: translateY(-25px)
        100%
            transform: translateY(-0px)
</style>