<template>
    <div class="loading">
        <div class="monster">
            <div class="eye">
                <div class="eyeball"></div>
            </div>
            <div class="mouth"></div>
        </div>

        <div class="monster red">
            <div class="eye">
                <div class="eyeball"></div>
            </div>
            <div class="mouth"></div>
        </div>
    </div>
</template>

<style lang="sass" scoped>
@import '@/styles/color'
@import '@/styles/minix'

.loading
    position: fixed
    background-color: $color_blue
    width: 100%
    height: 100%
    top: 0px
    left: 0px
    display: flex
    align-items: center
    justify-content: center
    z-index: 600

    .monster
        +size(110px)
        background-color: $color_blue
        border-radius: 20px
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        cursor: pointer
        margin: 10px
        position: relative
        box-shadow: 0px 10px 20px rgba(black, 0.2)
        animation: jumping 0.8s infinite alternate

        .eye
            +size(40%)
            border-radius: 50%
            background-color: $color_white
            display: flex
            justify-content: center
            align-items: center

            .eyeball
                +size(50%)
                border-radius: 50%
                background-color: $color_red
                animation: eyemove 1.6s infinite alternate

        .mouth
            +size(32%, 12px)
            background-color: white
            border-radius: 12px
            margin-top: 15%
            background-color: $color_white

        &:before, &:after
            content: ''
            display: block
            +size(20%, 10px)
            background-color: #ffffff
            border-radius: 10px
            position: absolute
            left: 50%
            top: -10px

        &:before
            transform: translateX(-70%) rotate(45deg)

        &:after
            transform: translateX(-30%) rotate(-45deg)

    .monster.red
        background-color: $color_red
        animation-delay: 0.5s
        
        .eye
            .eyeball
                background-color: $color_blue

    @keyframes jumping
        50%
            top: 0
            box-shadow: 0px 10px 20px rgba(black, 0.2)
  
        100%
            top: -50px
            box-shadow: 0px 120px 50px rgba(black, 0.2)
  
    @keyframes eyemove
        0%, 10%
            transform: translate(50%)
        90%, 100%
            transform: translate(-50%)
  
</style>