<template>
    <section class="appMain">
        <transition name="fade-transform" mode="out-in" appear="">
            <!-- <keep-alive> -->
                <router-view :key="key"></router-view>
            <!-- </keep-alive> -->
        </transition>
    </section>
</template>

<script>
    export default {
        name: 'AppMain',
        computed: {
            key() {
                return this.$route.path
            }
        }
    }
</script>

<style lang="sass">
    .appMain
        min-height: calc(100vh - 50px)
        width: 100%
        position: relative
        overflow: hidden
</style>