<template>
    <div class="navbar">
        <div class="hamburger_container" @click="toggleSideBar">
            <font-awesome-icon class="icon" :icon="['fas', 'bars']"></font-awesome-icon>
        </div>
        
        <div class="right_container">
            <ul>
                <li>
                    <font-awesome-icon class="icon" :icon="['fas', 'user']"></font-awesome-icon>
                    <span v-text="userName"></span>
                </li>
                <li @click="logout()">
                    <font-awesome-icon class="icon" :icon="['fas', 'sign-out-alt']"></font-awesome-icon>
                    <span>登出</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';

    export default {
        name: 'Navbar',
        methods: {
            logout() {
                this.$store.dispatch('user/logout');
                this.$router.push({ path: `/login?redirect=${this.$route.fullPath}` });
            },
            toggleSideBar() {
                this.$store.dispatch('app/toggleSideBar')
            }
        },
        computed: {
            ...mapGetters([
                'userName'
            ])
        }
    }
</script>

<style lang="sass">
    @import '@/styles/color.sass'
    
    //reset font-awesome-icon
    .icon
        font-size: 20px

    //main
    .navbar
        background-color: $color_white
        padding: 0px !important
        box-shadow: 0px 5px 0px 10px $color_gray

        .hamburger_container
            padding: 15px
            cursor: pointer
            
            &:hover
                background-color: darken($color_gray, 20)
                
        .right_container
            ul
                list-style: none
                padding: 0px
                margin: 0px

                li
                    display: inline-block
                    padding: 5px
                    cursor: pointer
                    transition: 0.5s

                    &:hover
                        color: $color_blue

                    span
                        margin: 10px
                        font-weight: 900
</style>