<template>
    <div>
        <!-- 對話方塊 -->
        <Dialogbox @click="outerVisible = false" :titleName="titleName" :visible.sync="outerVisible">
            <template v-slot:content>
                <label>
                    <input type="text">
                </label>
            </template>

            <template v-slot:foolter>
                <button class="btnSave" @click.self="outerVisible = false">儲存</button>
                <button class="btnClose" @click.self="outerVisible = false">取消</button>
            </template>
        </Dialogbox>
    </div>
</template>

<script>
    import Dialogbox from '@/components/Dialogbox/index.vue';

    export default {
        name: 'test2',
        components: {
            Dialogbox
        },
        data() {
            return {
                outerVisible: false,
                titleName: '',
            }
        }
    }
</script>

<style lang="sass">
    
</style>