<template>
    <div>
        <el-menu
            class="el-menu-vertical-demo"
            :default-active="2"
            :background-color="`#545c64`"
            :text-color="`#fff`"
            :active-text-color="`#ffd04b`">

            <el-submenu index="1">
                <template slot="title">
                    <span>testMenu1</span>
                </template>

                <el-menu-item index="1-1">選項1</el-menu-item>
                <el-menu-item index="1-2">選項2</el-menu-item>
                <el-menu-item index="1-3">選項3</el-menu-item>


                <el-submenu index="1-4">
                    <template slot="title">testMenu2</template>
                    <el-menu-item index="1-1">選項1</el-menu-item>
                    <el-menu-item index="1-2">選項2</el-menu-item>
                    <el-menu-item index="1-3">選項3</el-menu-item>
                </el-submenu>
            </el-submenu>

            <el-menu-item index="2">
                <span slot="title">班務管理系統</span>
            </el-menu-item>

            <el-menu-item index="3">
                <span slot="title">點傳師管理系統</span>
            </el-menu-item>

            <el-menu-item index="4">
                <span slot="title">使用者管理系統</span>
            </el-menu-item>
        </el-menu>
    </div>
</template>

<script>
    export default {
        name: 'test1'   
    }
</script>

<style lang="sass">
    
</style>