<template>
    <div class="systemPost">
        <Dialogbox :visible.sync="outerVisible">
            <template slot="content">
                <div>
                    sasdfasdf
                </div>
            </template>
        </Dialogbox>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Dialogbox from '@/components/Dialogbox/index.vue';

    export default {
        name: 'systemPost',
        components: {
            Dialogbox  
        },
        data() {
            return {
                outerVisible: false,
            }
        },
        mounted() {
            this.showSystemPost();
        },
        methods: {
            showSystemPost() {
            }
        },
        computed: {
            ...mapGetters([
                'roles'
            ])
        }
    }
</script>

<style lang="sass" scoped>

</style>