<template>
    <div class="newClassRoom">
        <div class="newClassRoomForm">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="block">
                            <!-- 上課地點 -->
                            <div class="group">
                                <label class="lblTitle">上課地點</label>
                                <select class="seleClassLocation" :class="{error: validation.hasError('classRoomForm.classLocation')}" v-model="classRoomForm.classLocation">
                                    <option :value="``">請選擇</option>
                                    <option :value="`正承佛堂`">正承佛堂</option>
                                    <option :value="`正通佛堂`">正通佛堂</option>
                                    <option :value="`正傳佛堂`">正傳佛堂</option>
                                    <option :value="`正湶佛堂`">正湶佛堂</option>
                                    <option :value="`正積佛堂`">正積佛堂</option>
                                    <option :value="`正命佛堂`">正命佛堂</option>
                                </select>
                                <p class="classLocationMsg">{{ validation.firstError('classRoomForm.classLocation') }}</p>
                            </div>
                            
                            <!-- 組別 -->
                            <div class="group">
                                <label class="lblTitle">組別</label>
                                <select class="seleGroupes" :class="{error: validation.hasError('classRoomForm.groupes')}" v-model="classRoomForm.groupes">
                                    <option :value="``">請選擇</option>
                                    <option :value="`仁`">仁</option>
                                    <option :value="`義`">義</option>
                                    <option :value="`禮`">禮</option>
                                    <option :value="`智`">智</option>
                                    <option :value="`信`">信</option>
                                </select>
                                <p class="groupesMsg">{{ validation.firstError('classRoomForm.groupes') }}</p>
                            </div>

                            <!-- 組號 -->
                            <div class="group">
                                <label class="lblTitle">組號</label>
                                <input type="text" class="inpGroupNo" :class="{error: validation.hasError('classRoomForm.groupNo')}" placeholder="請輸入組號" v-model="classRoomForm.groupNo">
                                <p class="groupNoMsg">{{ validation.firstError('classRoomForm.groupNo') }}</p>
                            </div>

                            <!-- 編號 -->
                            <div class="group">
                                <label class="lblTitle">編號</label>
                                <input type="text" class="inpSerialNo" :class="{error: validation.hasError('classRoomForm.serialNo')}" placeholder="請輸入編號" v-model="classRoomForm.serialNo">
                                <p class="serialNoMsg">{{ validation.firstError('classRoomForm.serialNo') }}</p>
                            </div>
                            
                            <!-- 姓名 -->
                            <div class="group">
                                <label class="lblTitle">姓名</label>
                                <input class="inpName" :class="{error: validation.hasError('classRoomForm.name')}" type="text" placeholder="請輸入姓名" v-model="classRoomForm.name">
                                <p class="nameMsg">{{ validation.firstError('classRoomForm.name') }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="block">
                            <!-- 性別 -->
                            <div class="group">
                                <label class="lblTitle">性別</label>
                                <label class="spTitle">
                                    <input class="inpGender" type="radio" name="gender" :value="1" v-model="classRoomForm.gender">
                                    乾道
                                </label>
                                <label class="spTitle">
                                    <input class="inpGender" type="radio" name="gender" :value="0" v-model="classRoomForm.gender">
                                    坤道
                                </label>
                                <p class="nameMsg">{{ validation.firstError('classRoomForm.gender') }}</p>
                            </div>

                            <!-- 班別 -->
                            <div class="group">
                                <label class="lblTitle">班別</label>
                                <select class="seleClasses" :class="{error: validation.hasError('classRoomForm.classes')}" v-model="classRoomForm.classes">
                                    <option :value="``">請選擇</option>
                                    <option :value="`1`">新民</option>
                                    <option :value="`2`">至善</option>
                                    <option :value="`3`">培德</option>
                                    <option :value="`4`">行德</option>
                                    <option :value="`5`">崇德</option>
                                </select>
                                <p class="classesMsg">{{ validation.firstError('classRoomForm.classes') }}</p>
                            </div>

                            <!-- 所屬區別 -->
                            <div class="group">
                                <label class="lblTitle">所屬區別</label>
                                <select class="seleDistrict" :class="{error: validation.hasError('classRoomForm.district')}" v-model="classRoomForm.district">
                                    <option :value="``">請選擇</option>
                                    <option :value="`大甲一區`">大甲一區</option>
                                    <option :value="`大甲一區`">大甲二區</option>
                                </select>
                                <p class="districtMsg">{{ validation.firstError('classRoomForm.district') }}</p>
                            </div>

                            <!-- 所屬佛堂 -->
                            <div class="group">
                                <label class="lblTitle">所屬佛堂</label>
                                <select class="seleBuddhaHall" :class="{error: validation.hasError('classRoomForm.buddhaHall')}" v-model="classRoomForm.buddhaHall">
                                    <option :value="``">請選擇</option>
                                    <option :value="`正承佛堂`">正承佛堂</option>
                                    <option :value="`正通佛堂`">正通佛堂</option>
                                    <option :value="`正傳佛堂`">正傳佛堂</option>
                                    <option :value="`正湶佛堂`">正湶佛堂</option>
                                    <option :value="`正積佛堂`">正積佛堂</option>
                                    <option :value="`正命佛堂`">正命佛堂</option>
                                </select>
                                <p class="buddhaHallMsg">{{ validation.firstError('classRoomForm.buddhaHall') }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>

        <!-- 操作 -->
        <div class="action">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <button class="btnSave" @click="createClassRoom()">儲存</button>
                            <button class="btnClose" @click="back()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import { Validator } from 'simple-vue-validator';
    import { InsertClassRoom } from '@/api/classRoom.js';

    export default {
        name: 'newClassRoom',
        data() {
            return {
                classRoomForm: {
                    classLocation: '',
                    groupes: '',
                    groupNo: '',
                    serialNo: '',
                    name: '',
                    gender: '1',
                    classes: '',
                    buddhaHall: '',
                    district: '',
                    nowUser: ''
                }
            }
        },
        validators: {
            'classRoomForm.classLocation': function(value) {
                return Validator.value(value)
                                .required('未選擇上課地點')
                                .regex('(.*?){4}$');
            },
            'classRoomForm.groupes': function(value) {
                return Validator.value(value)
                                .required('未輸入組別')
                                .regex('(仁|義|禮|智|信){1}$');
            },
            'classRoomForm.groupNo': function(value) {
                return Validator.value(value)
                                .required('未輸入組號')
                                .digit('請輸入數字');
            },
            'classRoomForm.serialNo': function(value) {
                return Validator.value(value)
                                .required('未輸入編號')
                                .digit('請輸入數字');
            },
            'classRoomForm.name': function(value) {
                return Validator.value(value)
                                .required('未輸入姓名')
                                .maxLength(3, '姓名輸入最大三個字')
            },
            'classRoomForm.gender': function(value) {
                return Validator.value(value)
                                .required('未輸選擇性別')
                                .regex('(1|0){1}$');
            },
            'classRoomForm.classes': function(value) {
                return Validator.value(value)
                                .required('未選擇班別')
                                .regex('[1-5]{1}$');
            },
            'classRoomForm.buddhaHall': function(value) {
                return Validator.value(value)
                                .required('未選擇所屬佛堂')
                                .regex('(.*?){4}$');
            },
            'classRoomForm.district': function(value) {
                return Validator.value(value)
                                .required('未選擇所屬區別')
                                .regex('(.*?){4}$');
            }
        },
        methods: {
            createClassRoom() {
                this.classRoomForm.nowUser = this.userName;

                this.$validate().then((success) => {
                    if (success)
                    {
                        InsertClassRoom(this.classRoomForm).then((res) => {
                            setTimeout(() => {
                                if (res.status === 201)
                                {
                                    if (res.data.isSuccess === true)
                                    {
                                        alert(res.data.message);
                                        this.$router.push({path: '/classRoomMangement/index'})
                                    }
                                    else
                                    {
                                        alert(res.data.message);
                                    }
                                }
                            }, 1000);
                        }).catch((error) => {
                            setTimeout(() => {
                                if (error.status === 400 || error.status === 403)
                                {
                                    alert(error.data.message);
                                }
                            }, 1000);
                        })
                    }
                    else
                    {
                        console.log('submit error');
                    }
                })
            },
            back() {
                this.$router.push({path: '/classRoomMangement/index'});
            }
        },
        computed: {
            ...mapGetters([
                'userName'
            ])
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .newClassRoom
        .newClassRoomForm
            .container-fuild
                margin: 20px 30px
                background-color: $color_white
                border-top: 5px solid darken($color_gray, 10)

                .row
                    .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6
                        padding: 15px
                        
                        .block
                            padding: 15px
                            
                            .group
                                margin-bottom: 20px

                                label.lblTitle
                                    display: block
                                    margin-bottom: 10px

                                select.seleClassLocation, select.seleGroupes,
                                select.seleClasses, select.seleBuddhaHall,
                                select.seleDistrict
                                    padding: 10px
                                    border: 1.5px solid darken($color_gray, 10)
                                    border-radius: 2.5px
                                    outline: none
                                    width: 100%
                                    transition: 0.5s

                                    &:hover
                                        border: 1px solid $color_blue

                                input.inpName, input.inpGroupNo, input.inpSerialNo
                                    padding: 10px
                                    border: 1.5px solid darken($color_gray, 10)
                                    border-radius: 2.5px
                                    outline: none
                                    width: 100%
                                    transition: 0.5s

                                    &:focus
                                        border: 1px solid $color_blue

                                label.spTitle
                                    margin-right: 10px

                                    input.inpGender
                                        -webkit-appearance: none
                                        -moz-appearance: none
                                        appearance: none
                                        outline: none
                                        border: 5px solid darken($color_gray, 10)
                                        border-radius: 50px
                                        width: 18px
                                        height: 18px
                                        vertical-align: middle
                                        position: relative
                                        margin-right: 5px

                                        &:before
                                            content: ""
                                            background-color: transparent
                                            border-radius: 50%
                                            width: 8px
                                            height: 8px
                                            display: black
                                            position: absolute
                                            left: 50%
                                            top: 50%
                                            transform: translate(-50%, -50%)

                                        &:checked:before
                                            background-color: $color_blue

                                        &:checked
                                            border: 3px solid $color_blue

                                input.inpName.error, input.inpGroupes.error,
                                select.seleGroupes.error, input.inpGroupNo.error,
                                input.inpSerialNo.error, select.seleClassLocation.error,
                                select.seleClasses.error, select.seleBuddhaHall.error,
                                select.seleDistrict.error
                                    border: 1px solid $color_red

                                p.classLocationMsg, p.groupesMsg,
                                p.groupNoMsg, p.serialNoMsg,
                                p.nameMsg, p.groupNo,
                                p.classesMsg, p.serialNoMsg,
                                p.buddhaHallMsg, p.districtMsg
                                    margin-top: 10px
                                    color: $color_red
                                    
        .action
            .container-fuild
            margin: 20px 30px

            .row
                .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                    .block
                        button
                            margin-right: 20px
                            border: none
                            outline: none
                            padding: 10px 30px
                            border-radius: 2.5px
                            transition: 0.5s
                        
                        .btnSave
                            background-color: $color_blue
                            color: $color_white
                            transition: 0.5s

                            &:hover
                                box-shadow: 0px 0px 15px darken($color_gray, 5)
                                background-color: lighten($color_blue, 5)

                        .btnClose
                            background-color: darken($color_gray, 10)

                            &:hover
                                box-shadow: 0px 0px 15px darken($color_gray, 5)
</style>