<template>
    <div class="pageMangement">
        <!-- 搜尋區塊 -->
        <div class="search_block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <div class="group">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 功能區塊 -->
        <div class="controls_block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 頁面清單 -->
        <div class="pageList_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <el-tree
                                class="permission_tree"
                                ref="tree"
                                :checkStrictly="checkStrictly"
                                :data="routesData"
                                :props="defaultProps"
                                :showCheckbox="true"
                                :nodeKey="`path`"
                                @node-click="handleClick"
                            ></el-tree>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 操作 -->
        <div class="action_block">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="block">
                            <button class="btnSave" @click="test()">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import path from 'path';

    export default {
        name: 'pageMangement',
        data() {
            return {
                routes: [],
                defaultProps: {
                    children: 'children',
                    label: 'title'
                },
                checkStrictly: false
            }
        },
        mounted() {
            this.getRoutes();
        },
        methods: {
            async getRoutes() {
                this.routes = await this.generateRoutes(this.permission_routes);
            },
            generateRoutes(routes, basePath='/') {
                const res = [];

                for (let route of routes)
                {
                    if (route.hidden) { continue }

                    const onlyOneShowingChild = this.onlyOneShowingChild(route.children, route);

                    if (route.children && onlyOneShowingChild)
                    {
                        route = onlyOneShowingChild;    
                    }

                    const data = {
                        path: path.resolve(basePath, route.path),
                        title: route.meta && route.meta.title
                    }

                    if (route.children)
                    {
                        data.children = this.generateRoutes(route.children, data.path);
                    }

                    res.push(data)
                }

                return res;
            },
            onlyOneShowingChild(children = [], parent) {
                let onlyOneChild = null;
                
                const showingChildren = children.filter(item => !item.hidden)

                if (showingChildren.length === 1)
                {
                    onlyOneChild = showingChildren[0];
                    onlyOneChild.path = path.resolve(parent.path, onlyOneChild.path);
                    return onlyOneChild;
                }

                if (showingChildren.length === 0)
                {
                    onlyOneChild = { ...parent, path: '', noShowingChildren: true };
                    return onlyOneChild;
                }

                return false;
            },
            // handleClick(data) {
            //     console.log(data);
            // },
            test() {
                console.log(this.$refs.tree.getCheckedKeys());
            }
        },
        computed: {
            ...mapGetters([
                'permission_routes'
            ]),
            routesData() {
                return this.routes;
            }
        }
    }
</script>

<style lang="sass" scoped>
    @import '@/styles/color.sass'

    .el-tree

    .el-tree-node
        padding: 25px !important

    .el-tree-node__content
        &:hover
            background-color: $color_gray !important

    .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner
        // background-color: $color_blue !important
</style>